@use "../../../styles/variables" as *;

.user-section {
  display: flex;
  border-top: 3px solid $secondary-color-500;
  padding: 1rem 1rem;
  color: $secondary-color-100;

  .avatar {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: 2px solid transparent;
    margin-right: 1rem;
    transition: all 0.2s;

    &:hover {
      cursor: pointer;
      border: 2px solid $secondary-color-500;
    }
  }

  .info {
    display: flex;
    gap: 3rem;
    align-items: center;
  }

  .user-data {
    display: flex;
    flex-direction: column;
    width: inherit;
    gap: 0.5rem;
    flex: 1;

    .name {
      font-size: 1.5rem;
      font-weight: 700;
    }

    .username {
      font-size: 1rem;
      font-weight: 500;
    }
  }
}
