upstream llm_manager {
    server ${LLM_MANAGER_HOST}:${LLM_MANAGER_PORT};
}
upstream llm_core {
    server ${LLM_CORE_HOST}:${LLM_CORE_PORT};
}

upstream evidence_provider {
    server ${EVIDENCE_PROVIDER_HOST}:${EVIDENCE_PROVIDER_PORT};
}

server {
    listen 8080 default_server;
    server_name _;

    proxy_set_header Host              $host;
    proxy_set_header X-Real-IP         $remote_addr;
    proxy_set_header X-Forwarded-For   $proxy_add_x_forwarded_for;
    proxy_set_header X-Forwarded-Proto $scheme;
    proxy_read_timeout  90s;
    proxy_connect_timeout 5s;

    location /api/llm-manager/ {
        proxy_pass http://llm_manager/;
    }
    location /api/llm-core/ {
        proxy_pass http://llm_core/;
    }
    location /api/evidence-provider/ {
        proxy_pass http://evidence_provider/;
    }
    location = /healthz {
        return 200 'OK';
        add_header Content-Type text/plain;
    }
}
