@use "../../styles/variables" as *;

.logo-wrapper {
  padding: 0rem 1rem;

  .logo {
    font-size: 3rem;
    margin: 1rem 0;
    color: $secondary-color-500;

    span {
      font-weight: 600;
      font-style: italic;
    }
  }
}
