# GLOBAL VARIABLES
project_id = "your-gcp-project-id"
region     = "europe-west4"
zone       = "europe-west4-a"
network    = "default"

# COMPUTE VARIABLES
instance_name = "reference-tee"
machine_type  = "c3-standard-4"
instance_tags = ["allow-attestation"] 

# FIREWALL VARIABLES
firewall_name = "allow-attestation"
target_tags   = ["allow-attestation"]
